<div class="container text-center px-4 overflow-hidden">
  <div class="row align-items-center gx-5">
    <div class="col p-3">
      <img src="https://www.zipperagent.com/wp-content/uploads/2019/01/CRM-Real-Estate-Realtor-Software-Leads-1000.png"
           class="img-fluid" alt="real estate image comes here" />
    </div>
    <div class="col p-3">
      <h1>Welcome to ez Real Estate Application</h1>
      <p>Your one stop solution for Real Estate Sales and Management</p>
      <%= link_to "Log in", new_admin_session_path, class: "btn btn-info" %>
      <%= link_to "Register", new_admin_registration_path, class: "btn btn-info" %>
    </div>
  </div>
</div>