<p style="color: green"><%= notice %></p>

<h1>Media</h1>

<%= link_to "New medium", new_medium_path, class: "btn btn-primary" %>

<div id="media">
  <% if @medium %>
  <div class="container mt-4">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= render @medium %>
            <p>
              <%= link_to "Show this medium", @medium, class: "btn btn-primary" %>
              </p>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% else %>
    <p>No media found.</p>
  <% end %>
</div>